@import '../../mixins';
@include pulse(red);
@include pulse(limegreen);

.roundResult {
  opacity: 0.65;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.real,
.clicked {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: 3;
  border-radius: 50%;
  background-color: red;
  animation: pulse-red 2s infinite;
}

.real {
  background-color: limegreen;
  animation-name: pulse-limegreen;
  animation-delay: 1s;
}

.line {
  position: absolute;
  background: linear-gradient(90deg, red, limegreen);
}

.roundScore {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: orange;
  border-radius: 50%;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  opacity: 0;
  z-index: 3;
  animation: fadeIn 0.2s forwards, bounce 0.6s 0.2s 4 both, fadeOut 0.8s 1.5s forwards;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
