.timer {
  position: relative;
  margin-bottom: 20px;
  height: 5px;
  background-color: lightcyan; 
}

.time {
  position: absolute;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: orange;
}

@keyframes :global(redden) {
  0%,
  50% {
    background-color: orange;
  }
  100% {
    background-color: red;
  }
}
