.scores {
  margin-top: 50px;
  max-height: 250px;
  overflow: scroll;

  .scoresText {
    font-size: 25px;
    margin: 0 0 10px;
    font-weight: 700;
  }

  .topScores {
    display: flex;
  }

  .difficulty {
    margin: 0 20px;
  }

  .difficultyTitle {
    margin-bottom: 20px;
  }

  .scoreItem {
    margin: 10px 0;
    text-align: right;
  }

  .name,
  .score {
    font-weight: 700;
  }

  .name {
    margin-right: 20px;
  }

  .score {
    font-family: 'Courier New', Courier, monospace;
  }
}
