.scores {
  margin-top: 50px;

  .scoresText {
    font-size: 25px;
    margin: 0 0 10px;
    font-weight: 700;
  }

  .topScores {
    display: flex;
    max-height: 265px;
    overflow: scroll;
  }

  .difficulty {
    margin: 0 20px;
  }

  .difficultyTitle {
    margin-bottom: 20px;
  }

  .scoreItem {
    margin: 10px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;

    &.topDawg {
      font-size: 18px;
      font-weight: 700;
    }
  }

  .name,
  .score {
    font-weight: 700;
  }

  .name {
    margin-right: 10px;
  }

  .score {
    font-family: 'Courier New', Courier, monospace;
  }
}
