@import '../../mixins';

.gameMenu {
  font-size: 25px;

  p {
    margin: 5px 0;
  }
}

.score {
  display: inline-block;
  min-width: 181px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: orange;
}

.finalScore {
  font-size: 40px;
  animation: pulse-orange 3s infinite;
}

.distance {
  margin-bottom: 20px;
}

@include pulse(orange, 20px);
