.splash {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  cursor: default;
  z-index: 2;
  background-color: rgba(250, 250, 250, 0.7);
  transition: all 0.5s ease-in-out;

  &.hide {
    top: -100%;
    opacity: 0;
  }

  .title {
    text-transform: uppercase;
    letter-spacing: 15px;
    font-size: 55px;
    margin: 50px 20px;
  }

  .difficultyText {
    font-size: 30px;
    letter-spacing: 5px;
    margin-bottom: 30px;
  }

  .buttonWrapper {
    display: flex;

    > .startButton {
      margin: 0 20px;
      cursor: pointer;
    }
  }
}

.showOverviewButton {
  position: absolute;
  top: 5px;
  z-index: 3;
}
