.map {
  background-image: url("./maps/map.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 72vw;
  height: 47.66vw;
  margin: 0 auto;
  cursor: crosshair;
}