@import '../../mixins';

.map {
  position: relative;
  background-image: url("./maps/map.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100vw;
  height: 43.15vw;
  margin: 0 auto;
  cursor: crosshair;
  z-index: 1;
}

.splash,
.pause {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 250, 250, .5);
  cursor: default;
  z-index: 2;
}

.splash {
  background-color: rgba(250, 250, 250, .7);
}

.splashText {
  text-transform: uppercase;
  letter-spacing: 15px;
  font-size: 55px;
  margin-bottom: 50px;
}

.difficultyText {
  font-size: 30px;
  letter-spacing: 5px;
  margin-bottom: 30px;
}

.buttonWrapper {
  display: flex;

  > .startButton {
    margin: 0 10px;
    cursor: pointer;
  }
}

.nameWrapper {
  margin-top: 50px;

  > .saveButton {
    margin-top: 20px;
  }
}

.scores {
  margin-top: 30px;
  max-height: 250px;
  overflow: scroll;
}

.saveText,
.scoresText {
  font-size: 25px;
  margin: 0 0 10px;
}

.realCoordinates,
.clickedCoordinates {
  position: absolute;
  top: 350px;
  left: 500px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgba(red, .75);
  animation: pulse-red 1.5s infinite;
}

.realCoordinates {
  background-color: rgba(limegreen, .75);
  animation-name: pulse-limegreen;
  top: 352px;
  left: 505px;
}

@include pulse(red);
@include pulse(limegreen);
