.map {
  background-image: url("./maps/mercator_map.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 90vw;
  height: 44.68vw;
  margin: 30px auto 0;
}